.vs

*.aps
*.bsc
*.ipch
*.opensdf
*.orig
*.rej
*.sdf
*.suo
*.swp
*.user
*.tps
*~
Anmerkungen/*
_OtherRepos/*
Output
TCHelp/SourceCodeDoc/html/*
TCHelp/SourceCodeDoc/TXCSourceCodeDoc.chm
TCHelp/SourceCodeDoc/warnings.log
TCHelp/SourceCodeDoc/x64/*
TeXnicCenterObjects/Source/*_[i|p].[c|h]
TeXnicCenterObjects/Source/dlldata.c
TeXnicCenterObjects/Source/DocumentWizard.h
TeXnicCenterObjects/Source/Project.h
TeXnicCenterObjects/Source/ProjectWizard.h
TeXnicCenterObjects/Source/TeXnicCenterObjects_h.h
Setup/Releases/*
