kbd {
  padding:2px 4px;
  white-space:nowrap;
  color:#000;
  background:#eee;
  border-width:1px 3px 3px 1px;
  border-style:solid;
  border-color:#ccc #aaa #888 #bbb;
  font-family: sans-serif;
}
